.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #31112C;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #7D0633;
  font-size: 8rem;
  color: #F2A07B;
}

p {
  font-size: 2rem;
  color: #F2A07B;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #FBDCC4;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
