<%- include partials/header -%> 
    
    <h1>Contanct</h1>
    <p> <%=Content%> </p>

    <a href="https://www.linkedin.com/in/cansuyanik/"><i class="fab fa-linkedin fa-3x"></i></a>
    <a href="https://github.com/cansuynk"><i class="fab fa-github-square fa-3x"></i></a>
    <a href="mailto:cansuyanik96@gmail.com"><i class="fas fa-envelope-square fa-3x"></i></a>
    <a href=""><i class="fab fa-twitter-square fa-3x"></i></a>

<%- include partials/footer -%> 